@import url("https://fonts.googleapis.com/css2?&family=Roboto&display=swap");

:root {
  /* Colors */
  --main-background: white;
  --light-blue: #3e7aaf;
  --dark-contrast: #242332;

  /* Fonts */
  --headings: "Roboto", sans-serif;
  --paragraph: "Roboto", sans-serif;

  /* Animations */
  --transtition: all 300ms ease-out;
}

#wrapper {
  color: black;
  background-color: var(--main-background);
  margin: 0 auto;
  padding: 10px;
  font-family: var(--paragraph);
  text-align: left;
  position: relative;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headings);
}

/* Header */
header {
  display: flex;
}
#top-header a{
  text-decoration: none;
  color: black;
}
.siteName {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#tools {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Navigation */
nav {
  background-color: var(--dark-contrast); 
  padding: 0.5rem 0; 
}
nav ul {
  display: flex; 
  justify-content: space-evenly;
  list-style: none; 
  padding: 0;
  margin: 0;
  width: 100%;
}
nav li a {
  color: var(--main-background);
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  padding: 0;
  transition: var(--transtition);
  background-color: transparent;
  border-left: 1px solid var(--dark-contrast);
  border-right: 1px solid var(--dark-contrast);
}
  
nav li a:hover {
  color: var(--dark-contrast);
  background-color: var(--main-background);
  box-sizing: border-box;
  border: 1px solid var(--dark-contrast);
}


/* Main */
#hero {
  position: relative;
  text-align: left;
}
#hero h1 {
  margin: 0;
  padding: 1rem 0;
  text-align: left;
}
#hero-img {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.floating-element {
  position: absolute;
  left: 0px;
  background-color: rgba(255, 254, 254, 0.5);
  color: var(--light-blue);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.floating-element h2,
.floating-element p {
  align-self: flex-start; 
  left: 0;
  margin: 0; 
  padding: 0;
}
.floating-element img {
  max-width: 85%; 
  height: auto; 
  margin: 1rem 0;
}

/* Reviews */
#reviews ul {
  padding: 0; 
  margin: 0; 
  list-style-position: inside; 
}
#reviews li {
  padding-left: 0; 
  margin: 0; 
}

/* Upgrades */
#upgrades-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.upgrade {
  display: flex;
  width: 100%;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}
.upgrade-img-bg {
  width: 100%;
  height: 100px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: var(--light-blue);
  border: 1px solid var(--dark-contrast);
}

.upgrade-img-bg img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; 
}

/* Footer */
footer {
  margin-top: 20px;
  font-size: small;
}

/* INVENTORY */
#inv-display {
  list-style: none;
  justify-items: center;
  padding: 0;
}
#inv-display li {
  border: 1px solid gray;
  border-radius: 10px;
  width: 75%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#inv-display li img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.namePrice h2{
  font-size: 1.5rem;
}
.namePrice hr{
  border: 2px solid black;
}

/* VEHICLES */
.vehicle-detail {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.vehicle-detail img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


/* ERRORS */
#error-msj {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 10px 0;
}

/* Flash messages */
.notice {
  color: red;
  font-style: italic;
}

/* FORMS */
form {
  justify-self: center;
  max-width:max-content;
  border: 2px solid var(--dark-contrast);
  border-radius: 15px;
  padding: 10px;
  background-color: #f5f5f5;
  justify-items: center;
  justify-content: center;
  margin: 0 10px;
}
form input, #classificationList, textarea {
  width: 250px;
  height: 1.3rem;
  font: .7rem;
  margin: 5px 0 15px 0;
}
textarea {
  height: 80px;
}
form label {
  width: 250px;
  font-weight: bold;
}
form div {
  display: flex;
  align-items: center;
  color: var(--dark-contrast);
}
form div a {
  text-decoration: underline;
  color: var(--dark-contrast);
}
#submit-btn, #pswdBtn {
  width: initial;
  font-size: .9rem;
  background-color: var(--main-background);
  padding: 5px 25px;
  border-radius: 10px;
  border: 1px solid var(--dark-contrast);
  color: #4b4a4a;
  cursor: pointer;
  font-weight: bold;
}
#submit-btn:disabled, #pswdBtn:disabled {
  background-color: #f5f5f5;
  color: #acacac;
}
.form-indication {
  max-width: 250px;
  font-style: italic;
}
#pswdBtn {
  padding: 5px 10px;
  font-size: .8rem;
  color: #575757;
  font-weight: 500;
}

/* Style of valid/invalid inputs */
input:focus:invalid {
  background-color: rgba(252, 197, 197, 0.767);
}
input:required:valid {
  background-color: rgba(205, 250, 205, 0.767);
}
.ast {
  color: red;
  font-style: italic;
  font-weight: lighter;
}

/* MANAGEMENT */

/* Management links */
#management-links {
  padding: 15px;
}
#management-inventory table {
  border-collapse: collapse;
  border-spacing: 2px;
}
#management-inventory table th, #management-inventory table td {
  padding: 10px 5px;
  border-bottom: 1rem solid transparent;
  background-color: var(--light-blue);
  color: var(--main-background);
  background-clip: padding-box;
}
#management-inventory a {
  color: var(--main-background);
}

