@media screen and (min-width: 1200px) {
    body {
        background-image: url("../images/site/checkerboard.jpg");
    }

    /* INVENTORY */
    #inv-display {
        grid-column: span 2;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
}