<!-- CONTENT HEADING
 Add a h1 element if the page has a title -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
    
<!-- MESSAGE
 Add the capacity to display a message in the future -->
<%- messages() %>
    
<!-- MANAGEMENT ITEMS DISPLAY
 Main content delivery mechanism for the view -->
<%- grid %>

<!-- Manage inventory (update or delete) -->
 <div id="management-inventory">
<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="../../js/inventory.js"></script>